<nav class="vnavbar">
    <ul class="vnavbar-container">
        <li class="vnavbar-item">
            <div class="vnavbar-selected"></div>
            <!-- # de focus within -->
            <a href="#" class="vnavbar-link">
                <i class=" vnavbar-icon fa-solid fa-money-bill-trend-up"></i>
                <span class="vnavbar-title">Tabs</span>
            </a>

            <ul class="vnavbar-submenu">
                <li class="submenu-item">
                    <a href="#">
                        Hoa don ban hang
                    </a>
                </li>
                <li class="submenu-item">
                    <a href="#">
                        Hoa don ban hang
                    </a>
                </li>
                <li class="submenu-item">
                    <a href="#">
                        Hoa don ban hang
                    </a>
                </li>
            </ul>
        </li>

        <li class="vnavbar-item">
            <div class="vnavbar-selected"></div>
            <!-- # de focus within -->
            <a href="#" class="vnavbar-link">
                <i class=" vnavbar-icon fa-solid fa-money-bill-trend-up"></i>
                <span class="vnavbar-title">Tabs</span>
            </a>

            <ul class="vnavbar-submenu">
                <li class="submenu-item">
                    <a href="#">
                        Hoa don ban hang
                    </a>
                </li>
                <li class="submenu-item">
                    <a href="#">
                        Hoa don ban hang
                    </a>
                </li>
                <li class="submenu-item">
                    <a href="#">
                        Hoa don ban hang
                    </a>
                </li>
            </ul>
        </li>

        <li class="vnavbar-item">
            <div class="vnavbar-selected"></div>
            <!-- # de focus within -->
            <a href="#" class="vnavbar-link">
                <i class=" vnavbar-icon fa-solid fa-money-bill-trend-up"></i>
                <span class="vnavbar-title">Tabs</span>
            </a>

            <ul class="vnavbar-submenu">
                <li class="submenu-item">
                    <a href="#">
                        Hoa don ban hang
                    </a>
                </li>
                <li class="submenu-item">
                    <a href="#">
                        Hoa don ban hang
                    </a>
                </li>
                <li class="submenu-item">
                    <a href="#">
                        Hoa don ban hang
                    </a>
                </li>
            </ul>
        </li>
        
        <li class="vnavbar-item">
            <div class="vnavbar-selected"></div>
            <!-- # de focus within -->
            <a href="#" class="vnavbar-link">
                <i class=" vnavbar-icon fa-solid fa-money-bill-trend-up"></i>
                <span class="vnavbar-title">Tabs</span>
            </a>

            <ul class="vnavbar-submenu">
                <li class="submenu-item">
                    <a href="#">
                        Hoa don ban hang
                    </a>
                </li>
                <li class="submenu-item">
                    <a href="#">
                        Hoa don ban hang
                    </a>
                </li>
                <li class="submenu-item">
                    <a href="#">
                        Hoa don ban hang
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>