@import "../../../styles/_mixins.scss";

.vnavbar {
    // position: fixed; -> this is causing the navbar to be fixed on the screen
    // top: 5rem;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto; //enable scrolling

    background-color: var(--bg-primary-clr);
    font-size: var(--fs-md);
    @include card;
    
    .vnavbar-container {
        @include flex { flex-direction: column; justify-content: center; };

        .vnavbar-item {
            width: 100%; //max-width why ui like that
            padding: 1.2rem 0;

            a { @include px-2; color: var(--text-primary-clr); }

            .vnavbar-icon {
                min-width: 2rem;
                text-align: center;
            }
            .vnavbar-selected {
                position: absolute;
                width: 4px;
                height: 2.6rem;
                display: none; //
    
                background-color: var(--clr-primary-light);
                transform: translateY(-28%) //overflow hidden            
            }

            .vnavbar-link:hover .vnavbar-title{ display: inline-block; }

            .vnavbar-title {
                display: none;
                margin-left: 1rem;
            }
        }

        .vnavbar-item:focus-within {
            .vnavbar-selected { 
                display: block;
                background-color: var(--text-prime);
            }
            .vnavbar-submenu { display: block; }
        }

        .vnavbar-item:hover {
            background-color: var(--bg-secondary-clr);
            color: var(--text-secondary-clr);
            a { color: var(--text-secondary-clr); }
        }
        
        .vnavbar-submenu {
            display: none;
            margin-top: var(--m-1);
            margin-left: var(--m-1);
            .submenu-item { @include py-1; }
            .submenu-item:hover { @include zoom-hover; }
        }
    }

}

.vnavbar:focus-within { position: absolute; top: 5rem; left: 0; width: 18rem; }


