<div class="row">
    <!-- cac picture cos size khac nhau -->
    <div class="col">
        <img src="../../../assets/images/image-grid/wedding.jpg" alt="">
        <img src="../../../assets/images/image-grid/rocks.jpg" alt="">
        <img src="../../../assets/images/image-grid/falls2.jpg" alt=""  class="blur-img"> 
        <img src="../../../assets/images/image-grid/paris.jpg" alt="">
        <img src="../../../assets/images/image-grid/nature.jpg" alt="">
    </div>
    <div class="col">
        <img src="../../../assets/images/image-grid/underwater.jpg" alt="" class="blur-img">
        <img src="../../../assets/images/image-grid/ocean.jpg" alt="">
        <img src="../../../assets/images/image-grid/mist.jpg" alt=""  class="blur-img">
        <img src="../../../assets/images/image-grid/paris.jpg" alt="">
        <img src="../../../assets/images/image-grid/nature.jpg" alt=""  class="blur-img">
    </div>
    <div class="col"></div>
    <div class="col"></div>
</div>