.row {
    display: flex;
    .col-left {
        width: 100%;
    }
    .col-right {
        width: auto;
    }
}

// for dynamic styling right col
.layer {
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}