@import "mixins";
.container {
    margin: 2rem 4rem;
}

.form-card {
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    @include card;
}

input {
    width: 280px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 1rem;
}

textarea {
    width: 280px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

label {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
}