@import '/src/styles/mixins.scss';
:host {
    //center ul
    @include flex {
        justify-content: center;
    }
    margin-bottom: var(--m-2);
    background-color: var(--bg-secondary-clr);
    color: var(--text-primary-light);
    font-weight: bold;
}

ul.tabs { @include flex; }
// not applied to projected content even after add class using renderer

.tabs-item {
    margin: 1rem 0;
    padding: 2rem;
    border: 2px solid var(--bg-primary-clr);
    cursor: pointer;

    &:hover {
        background-color: var(--bg-primary-clr);
        color: var(--text-primary-dark);
        @include zoom-hover;
    }

    // &:focus-within {
    //     background-color: var(--bg-primary);
    //     color: var(--text-primary-dark);
    // }
}

@include mobile-screen {
    ul.tabs {
        @include flex { flex-direction: column; }; //delete border have to do on the ts file
    }
}