@import '/src/styles/mixins';

:host {
    @include card;
    display: inline-block;
    padding: 1.2rem .8rem;
    margin-left: .6rem;
    margin-bottom: 1rem;
}
.post {
    min-width: 20vw;
    &-header {
        display: inline-block;
        width: 100%;
        min-width: 200px;
        img {
            width: 100%;
            height: 200px;
            object-fit: fill;
        }
    }

    &-content {
        display: block;
        width: 20vw;
        min-width: 200px;

        h3 { font-size: 1.5rem; font-weight: 600; margin: 0;}
        p { font-size: 1rem; font-weight: 400; margin: 0;}
    }
    &-footer {
        @include flex { justify-content: space-between; }
    }
}

.post-news-view-type {
    width: 40vw;
    &-header {
        float: left;
        width: 40%;
        @include clear-fix;
    }
    
    &-content {
        margin: 2rem 0 0 1.8rem;
        float: left;
        width: 50%;
    }
    
    &-footer {
        clear: both;
        @include flex { justify-content: space-around;}
    }
}

@include mobile-screen {
    :host {

        @include flex { flex-direction: column; }
    }
    .post {
        width: 80%;
        @include flex { flex-direction: column; }

        &-footer {  
            @include flex { flex-direction: column; }
        }
    }
}