@import '/src/styles/mixins';

:host {
    @include flex;
    flex-direction: row;
    justify-content: space-around;
}

.sidebar-heading {
    @include px-1; @include py-1;
    margin: 0;
	background-color: var(--bg-secondary-clr);
	font-size: var(--fs-lg);
}

.filter-item-inner {
    margin: 0;
    border-right: 1px solid var(--bg-secondary-clr);
    border-left: 1px solid var(--bg-secondary-clr);
	border-bottom: 1px solid var(--bg-secondary-clr);

    &-heading {
        position: relative;
        padding: var(p-2);
        margin: 0;
        font-size: var(--fs-md);
        cursor: pointer;
    
        &.minus::after,
        &.plus::after { 
            position: absolute;
            top: 0;
            right: 7.5%;
            font-size: .6em;
        };
        &.minus::after { content: "▲"; }
        &.plus::after { content: "▼"; }
    }
}

.filter-attribute-list {  //hide 
    overflow: hidden; 
    .filter-attribute-list-inner {
        padding: 0 10px 15px; 
        .filter-attribute-item {padding-left: 10px;margin-top: 5px;}
    }
}

