@import '/src/styles/mixins.scss';
.row {
    @include flex;
    height: 100%;
    margin-top: 5rem;
}

.col-left {
    width: auto;
    min-height: 100%;
    background-color: transparent;
    margin-right: 20px;
}

.col-right {
    width: 100%;
    height: auto;
    background-color: transparent;
    
}
