@import '/src/styles/mixins';
button {
    border: 1px solid var(--text-primary-clr);
    border-radius: 50px;
    @include px-3; @include py-2;
    font-size: var(--fs-lg);
    cursor: pointer;

    &:hover {
        background-color: var(--bg-secondary-clr);
        color: var(--text-secondary-clr);
        border-color: none;

    }
}