<section class="carousel">
    <div class="carousel__container">
        <div class="carousel__item">
            <img src="../../assets/images/spider-man.jpg">
            <div class="text">Caption text 1</div>
        </div>
        <div class="carousel__item">
            <img src="../../assets/images/logo.png">
            <div class="text">Caption text 2</div>
        </div>

    </div>
    <div class="carousel__dots">
        <div class="dot" (click)="showSlide(0)"></div>
        <div class="dot" (click)="showSlide(1)"></div>
    </div>
</section>