<nav class="hnavbar">
    <div class="hnavbar-header">
        <img src="/assets/images/logo.png" class="logo">
        <div class="hnavbar-options">
            <div class="container">
                <app-h-navbar-options></app-h-navbar-options>
            </div>
            <button class="hnavbar-tabs-toggler" (click)="toggleNav()"><i class="fas fa-bars"></i></button>
        </div>
    </div>

    <ul class="hnavbar-tabs">
        <li><a href="#">HOME</a></li>
        <li><a [routerLink]="[{outlets: {primary: 'posts'}}]">POST</a></li>
        <li><a [routerLink]="[{outlets: {primary: 'categories'}}]">CATEGORIES</a></li>
        <li><a href="#">CONTACT</a></li>
    </ul>
    
    <div class="container">
        <app-h-navbar-options></app-h-navbar-options>
    </div>
</nav>
