<a>
    <i class="fa-solid fa-bell"></i>
    <span>99+</span>
</a>
<a class="hnavbar-account" type="button" (mouseenter)="toggleDropDown()">
    <div>
        <i class="fa-solid fa-user-tie"></i>
        <p>Admin</p>
    </div>
    <i class="fa-solid fa-caret-down" style="padding:0 0 13px 4px;"></i>
</a>
<ng-template [ngIf]="(this.showDropDown$ | async)">
    <app-dropdown-menu>
        <p><app-toggle-switch (toggle)="toggleTheme()"></app-toggle-switch></p>
        <p><a [routerLink]="'icon-hnavbar'">To HIconNav</a></p>
        <p><a [routerLink]="'accordion'">To Accordion</a></p>
        <p><a [routerLink]="'sidenavs'">To SideNav</a></p>
        <p><a [routerLink]="'dropdowns'">To Dropdown</a></p>
        <p><a [routerLink]="'headers'">To Header</a></p>
        <p><a [routerLink]="'overlay-image'">Overlay Image</a></p>
    </app-dropdown-menu>
</ng-template>