@import '/src/styles/mixins';

:host {
    width: auto;
    height: auto;
}

.post-list-container {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    @include flex;
}

@include mobile-screen { 
    .post-list-container {
        @include flex { flex-direction: column; }
        li {
            width: 90%;
        }
    }
}

.view-type-btn {
    margin: var(--m-1);
    @include py-1; @include px-2;
    cursor: pointer;

    color: var(--text-primary-clr);
    background-color: var(--bg-secondary-clr);
    &:hover {
        color: var(--text-primary-clr);
        background-color: var(--bg-primary-clr);
        @include zoom-hover;
    }
}


table {
    width: 100%;
    min-width: 40%;
    border-collapse: collapse;
    border-color: var(--bg-shadow);
    text-align: center;
    img {
        width: 20vw;
        max-width: 250px;
        height: 20vh;
        @include py-1;
    }
    th{
        height: 40px;
        background-color: var(--bg-shadow);
    }
    tr {
        padding: var(--p-1);
        cursor: pointer;
        //&:nth-child(even) { background-color: var(--bg-primary-clr); }
        &:hover { background-color: var(--bg-secondary-clr); color: var(--bg-primary-clr);}
        .img-td {
            @include flex;
            justify-content: center;
        }

    }
}