@import '/src/styles/mixins';

:host {
    width: auto;
    height: auto;
}

.post-list-container {
    @include flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

@include mobile-screen {
    .post-list-container {
        @include flex {
            flex-direction: column;
        }

        li {
            width: 90%;
        }
    }
}