@import '/src/styles/mixins';
.breadcrumbs {
    background: none;
    font-size: inherit;
    margin: 0;
    li {
      list-style-type: none;
      float: left;
      @include mx-1; @include my-1;
    }
    li:last-child { margin-right: var(--m-1); }
    li::after {
      content: " /";
      color: var(--clr-shadow);
    }
    li:last-child::after { content: ""; }
  }

  .active-breadcrumb {
    color:  var(--clr-primary-red) !important;
  }